header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  section {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  h1{
    text-align: center;
    font-size: 35px;
  }
  hr{
    background-color: #666;
    color: black;
  }